<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574495076299-kp6iv9ohjsninvclf8u2f8fnjdnob9db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574495076299-kp6iv9ohjsninvclf8u2f8fnjdnob9db</string>
	<key>API_KEY</key>
	<string>AIzaSyDgg6y9mBY0ABRd0dyr5QwvPv3qfxciVBU</string>
	<key>GCM_SENDER_ID</key>
	<string>574495076299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esmio.android</string>
	<key>PROJECT_ID</key>
	<string>esmio-12183</string>
	<key>STORAGE_BUCKET</key>
	<string>esmio-12183.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574495076299:ios:f372b28cee580ff8</string>
	<key>DATABASE_URL</key>
	<string>https://esmio-12183.firebaseio.com</string>
</dict>
</plist>