  <ion-content class="base" >
    <div class="bg-login parallax">
      <form #form="ngForm" (ngSubmit)="login(form)">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <p class="logo1 animated fadeInDown" style="text-align: center;">
                    <a href="#"><img src="../../assets/img/logo.png" width="150"></a>
                </p> 
            </ion-col>
          </ion-row>        
          
        </ion-grid>
      </form>
    </div>
    </ion-content>
